*.cs linguist-vendored
*.csproj linguist-vendored
*.resx linguist-vendored
*.sln linguist-vendored
*.py linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.json linguist-documentation
*.md linguist-documentation
